<footer class="footer bg-color border-top border-white" style="background-color: #17c267">
        <div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-3 sm-2">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a target="_blank" href="">
							<span style="color: White;"><i class="fab fa-github fa-2x"></i></span></a></li>
						<li class="list-inline-item"><a target="_blank" href="">
							<span style="color: White;"><i class="fab fa-twitter fa-2x"></i></span></a></li>
						<li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/batikan_savci/">
							<span style="color: White;"><i class="fab fa-instagram fa-2x"></i></span></a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mb-4 sm-2 text-center text-white">
					<p class="h6">© Bütün Hakları Saklıdır.<a class="text-white ml-2" href="{% url 'index' %}" >Elindekilerle Hobi Inc.</a></p>
				</div>
			</div>
		</div>
    </footer>